.side-pane {
  position: fixed;
  top: 0;
  left: 0;
  
  height: 100%;
  width: 70px;
  
  color: white;
  background: #222222;
  

  .primary {
    width: 100%;
    padding: 6px 8px;
    border-bottom: 1px solid #333;
    box-sizing: border-box;

    > button {
      height: 50px;
      width: 54px;
      padding: 0;
      display: inline-block;
      margin-bottom: 6px;
      background: #40cb90;
      text-align: center;
      border-radius: 2px;
      outline: none;
      border: none;

      &:hover {
        background: #68D6A7;
      }
    }
  }
}
